.color_field_1 {
    text-align: center;
    background-color: rgb(226, 173, 173);
}
.color_field_2 {
    text-align: center;
    background-color: rgb(106, 209, 106);
}
.color_field_3 {
    text-align: center;
    background-color: rgb(152, 152, 235);
}

.color_sub_field_1_2{
    background-color: rgb(240, 127, 127);
}
.color_sub_field_2_2{
    background-color: rgb(35, 194, 35);
}
.color_sub_field_3_1{
    background-color: rgb(112, 112, 230);
}


.btn-reset {
    font-family: system-ui, sans-serif;
    /* font-size: 3.5rem; */
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
    }

.btn-reset:hover {
    transition: background-position .4s, background-size 0s;
}

.btn-reset:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: grey;
    color: #fff;
}

.btn-center {
    
    text-align: center;
    /* margin: auto; */
    display: flex;
    justify-content: center;
}
.btn-reset {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

input[type=number] {
    width: 70%;
}